<%= form_for :student, url: students_path do |s| %>
 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= s.label :name %><br>
    <%= s.text_field :name %>
  </p>
 
  <p>
    <%= s.label :year %><br>
    <%= s.text_field :year %>
  </p>

  <p>
    <%= s.label :courses %><br>
    <%= s.text_area :courses %>
  </p>
 
  <p>
    <%= s.submit %>
  </p>
 
<% end %>