<%-# This should only be available to the owners-%>

<h1>Listing students</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Courses</th>
    <th colspan="2"></th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.year %></td>
      <td><%= student.courses %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>